@model CreateProjectDTO

<div class="modal fade" id="createProjectModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4 rounded-4 shadow-lg">

            <div class="modal-header border-0">
                <h5 class="modal-title fw-bold text-primary">Create New Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>


            <div class="modal-body">
                <form id="CreateProjectForm" asp-action="CreateProject" asp-controller="Employee" >
					@Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label class="form-label fw-semibold" asp-for="Name"></label>
                        <input asp-for="Name"  class="form-control"  placeholder="Enter Project name..." required />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold" asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control"  rows="2" placeholder="Enter description..."></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>


                    <div class="d-flex justify-content-end">
                        <button  class="btn btn-primary">Add Project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
