@model EmployeeTaskDTO

<div class="modal fade" id="deleteTaskModal_@Model.Id" tabindex="-1" aria-labelledby="deleteTaskModalLabel_@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteTaskModalLabel_@Model.Id">
                    <i class="fa-solid fa-triangle-exclamation me-2"></i> Confirm Delete
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p class="fs-6 text-muted">Are you sure you want to delete the task:</p>
                <h6 class="fw-bold text-danger">@Model.TaskName</h6>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <form asp-action="Delete"
                      asp-controller="Employee"
                      asp-route-id="@Model.Id"
                      method="post">
                    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger px-4">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>