 @model RegisterViewModel 

@{
	ViewData["Title"] = "Register"; 
	Layout = "~/Views/Shared/_AuthenticationLayOut.cshtml";
}

<div class="form-container">
    <form class="form active" id="register-form" asp-action="SignUp" asp-controller="Account">
        <h2>Create Account</h2>
        <div asp-validation-summary="ModelOnly"></div>


        <div class="input-group">
            <i class="fas fa-user"></i>
            <input asp-for="UserName" placeholder="Enter UserName" required />
        </div>
        <span class="text-danger" asp-validation-for="UserName"></span>

        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" placeholder="Enter Password" required />
        </div>
        <span class="text-danger" asp-validation-for="Password"></span>

        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" required />
        </div>
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

        <div class="input-group">
            <i class="fas fa-phone"></i>
            <input asp-for="PhoneNumber" placeholder="Enter Phone Number" required />
        </div>
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>

        <div class="input-group">
            <i class="fas fa-home"></i>
            <input asp-for="Address" placeholder="Enter Address" required />
        </div>
        <span class="text-danger" asp-validation-for="Address"></span>


        <button class="btn">Register</button>

        @* <div class="separator"><span>Or sign up with</span></div> *@
        @* <div class="social-login"> *@
        @*     <div class="social-btn"><i class="fab fa-google"></i></div> *@
        @*     <div class="social-btn"><i class="fab fa-facebook-f"></i></div> *@
        @*     <div class="social-btn"><i class="fab fa-twitter"></i></div> *@
        @* </div> *@
    </form>
</div>

	@section Scripts {
				<partial name="_ValidationScriptsPartial" />
	}